* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
body {
    background: url(gta.jpg) center no-repeat;
}
.menul {
    background-color: black;
    overflow: hidden;
}
.menul a {
    color: whitesmoke;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.menul a:hover {
    background-color: turquoise;
    color: black;
}
.menul a.sombra {
    background-color: rgb(212, 0, 255);
    color: white;
}
.menul .menui {
    display: none;
}
.contenido {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.contenido p {
    background-color: violet;
    width: 50%;
    margin: 5% 0px;
}
#videoc {
    width: 680px;
    max-width: 100%;
    height: auto;
}
footer p {
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    height: 40px;
    bottom: 0px;
    align-items: center;
    display: flex;
}
#barraaceptacion {
    display: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
    min-height: 50px;
    text-align:center;
    background-color: rgba(195, 0, 255, 0.815);
    color: #fff;
    z-index: 99999;
  }
  
  .inner {
    width: 100%;
    font-family: Arial;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .inner a.ok {
    padding: 4px;
    color: #00ff2e;
    text-decoration: none;
  }
  
  .inner a.info {
    padding-left: 5px;
    text-decoration: none;
    color: #faff00;
  }
@media screen and (max-width:500px) {
    .menul a:not(:first-child) {display: none;}
    .menul a.menui {
        float: right;
        display: block;
    }
    #barraaceptacion {
        min-height: 90px;
      }
    
      .inner {
        font-size: 3.5vw;
      }
}
@media screen and (max-width:500px) {
    .menul.responsive {position: relative;}
    .menul.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menul.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}